--- 
layout: layout 
title: Home 
permalink: index.html 
---
<section class="d-flex flex-column justify-content-between position-relative" style="background-image: url({{'assets/images/cover.jpg' | absolute_url}})">
    <span class="mask mask-dark mask-pattern-2"></span>
    <span class="spacer py-4 d-none d-sm-block"></span>
    <div class="position-relative container d-flex flex-column justify-content-end align-items-center pt-3">
            <img class="w-100" src="{{'assets/images/glass_white.png' | absolute_url}}">
            <h1 class="text-white text-center animated h2 hero-text pt-3 opacity-0" data-animation-in="fadeInLeft" data-animation-delay="100">
                No Job Too Big
            </h1>
            <p class="text-white text-center line-height-1_8 animated hero-lead opacity-0 text-uppercase font-weight-bold mt-0 mb-5" data-animation-in="fadeInLeft" data-animation-delay="100">
                Veteran Owned and Operated :us:
            </p>
            <div class="d-flex flex-column pt-2 animated opacity-0" data-animation-in="fadeInRight" data-animation-delay="1000">
                <h5 class="m-0 text-center text-white text-uppercase">Free Estimate!</h5>
                <a href="tel:{{site.data.metadata.phone}}" class="py-2 px-3 btn btn-primary btn-lg btn-circle text-white mt-2 text-uppercase">
                    CALL NOW
                    <i class="fas fa-phone"></i>
                    <small class="d-block">{{site.data.metadata.phone}}</span>
                </a>
                <a href="tel:{{site.data.metadata.phone}}" class="py-2 px-3 btn btn-primary btn-lg btn-circle text-white mt-2 text-uppercase">
                    Email
                    <i class="fas fa-envelope"></i>
                    <small class="d-block">{{site.data.metadata.email}}</span>
                </a>
            </div>   
    </div>
    <div class="position-relative pt-5 d-flex flex-column justify-content-end">
        <svg id="arrow-down-separator" preserveAspectRatio="xMidYMax meet" viewBox="0 0 1600 200" style="display: block;" data-height="200">
            <polygon class="gambit_sep_main" style="fill:white;" points="-4,24 800,198 1604,24 1604,204 -4,204 ">
            </polygon> 
            <polygon class="gambit_sep_decor2" style="opacity: 1;fill: #404554;" points="-4,12 -4,24 800,198 1604,24 1604,11.833 800,198 "></polygon>
        </svg>
    </div>
</section>
<section class="py-5 my-5">
    <div class="container">
        <h2 class="text-center">
            Services
        </h2>
        <div class="text-center animate-on-scroll fadeInDown" data-wow-delay="0.3s">
            <p class="lead">Whether commercial or residential, I am fully qualified to confidently repair or replace doors, windows, screens, mirrors and showers.</p>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img style="width: 8rem" src="{{'assets/images/licensed-bonded-insured.png' | absoulte_url}}">
            <p>Lic. No. {{site.data.metadata.licenseNumber}}</p>
        </div>
        <div class="row d-flex flex-wrap px-2 py-5">
            {% for service in site.data.services %}
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 py-2">
                    <div class="position-relative overflow-hidden zoom overlay h-100 d-flex flex-column shadow rounded">
                        <span class="mask mask-light d-flex align-items-center justify-content-center">
                            <h4 class="text-white font-weight-bold">{{service.service}}</h6>
                        </span>
                        <img src="{{service.image}}" class="d-block position-relative img-fluid flex-fill">
                    </div>
                </div>
            {% endfor %}
        </div>      
    </div>
</section>
<section class="py-5 mt-5 bg-pale">
    <div class="container">
        <h2 class="text-center">What customers are saying on Google</h2>
        <div class="d-flex justify-content-center">
            <a href="{{site.googleReviewUrl}}" target="_blank">
                <img style="width: 5rem" src="{{'assets/images/review-us-on-google.png' | absoulte_url}}">
            </a>
        </div>
        <div class="d-flex flex-column" style="height: 500px;">
            <div class="py-5 testimonials-carousel h-100">
                {% for testimonial in site.data.testimonials %}
                    <div class="testimonials-carousel--cell pb-3 px-1 h-100 col-md-6">
                        <div class="h-100 shadow bg-white d-flex flex-column justify-content-between testimonials-body border p-3 rounded bg-light">
                            <p class="mb-1">{{testimonial.description}}</p>
                            <div class="d-flex align-items-center pt-1">
                                <div class="testimonial-initials rounded-circle bg-gradient text-white d-flex justify-content-center align-items-center">
                                    <span>{{testimonial.initials}}</span>
                                </div>
                                <div>
                                    <div class="rating">
                                        {% for star in (0..4) %} 
                                            {% if star < testimonial.stars %} 
                                                <i class="gold-star fas fa-star"></i>
                                            {% else %}
                                                <i class="gold-star far fa-star"></i>
                                            {% endif %} 
                                        {% endfor %}
                                    </div>
                                    <div class="h5 m-0">{{testimonial.name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>