$primary-color: #fa6b6d;
$primary-color-2: #fcb663;
$primary-color-alpha9: rgba(250, 107, 109, 0.9);
$primary-color-2-alpha9: rgba(252, 182, 99, 0.9);
$accent-color: #2196f3;
$accent-color-alpha9: rgba(33, 150, 243, 0.9);
$accent-color-alpha7: rgba(33, 150, 243, 0.7);
$accent-color-alpha5: rgba(33, 150, 243, 0.5);
